*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: whitesmoke;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

nav .logo{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-color: grey;
    color: white;
    font-weight: bold;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav h1{
    font-size: 30px;
}

nav .login .text{
    height: 23px;
    width: 60px;
    font-size: 16px;
    padding: 2px;
    text-align: center;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 5px grey;
}

nav .login button{
    height: 30px;
    width: 70px;
    color: grey;
    border-radius: 15px;
    background-color: white;
    border: none;
    box-shadow: 0 0 5px grey;
}

main .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

main .top .current-date h2{
    font-size: 24px;
}

main .top .current-date p{
    color: grey;
}

main .top .current-balance{
    font-size: 50px;
}

main .mid{
    display: flex;
    justify-content: space-around;
}

::-webkit-scrollbar{
   background: none;
   width: 5px;
   border-radius: 20px;
   height: 0;
}

::-webkit-scrollbar-track{
    border-radius: 20px;
    margin: 30px 0;
}

::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 10px;
}

main .mid .left{
    width: 500px;
    height: 485px;
    background-color: white;
    border-radius: 20px;
    overflow-y: scroll;
}

main .mid .left .movement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 0 20px;
    border-bottom: solid 5px whitesmoke;
}

main .mid .left .movement .deposit{
    background-image: linear-gradient(to top left, #39b385, #9be15d);
    border-radius: 15px;
    text-transform: uppercase;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
    margin-right: 30px;
}

main .mid .left .movement .withdraw{
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
    border-radius: 15px;
    text-transform: uppercase;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
    margin-right: 30px;
}

main .mid .left .movement .amount{
    margin-left: auto;
    font-weight: bold;
    font-size: 20px;
    margin-right: 40px;
}

main .mid .left .movement .date{
    text-transform: uppercase;
    font-size: 12px;
    color: grey;
    font-weight: bold;
}

main .mid .right .transfers .area{
    height: 90px;
    width: 270px;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
}

main .mid .right .transfers .transfer-money{
    background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

main .mid .right .transfers .loan{
    background-image: linear-gradient(to top left, #39b385, #9be15d);
}

main .mid .right .transfers .close-account{
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

main .mid .right .transfers .area span{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

main .mid .right .transfers .area .boxes{
    display: flex;
}
main .mid .right .transfers .area .boxes .box{
    width: 80px;
    margin-right: 20px;
    text-align: center;
}

main .mid .right .transfers .area .boxes .box .text{
    width: 70px;
    height: 26px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    opacity: 0.5;
    padding-left: 10px;
}

main .mid .right .transfers .area .boxes .box p{
    font-size: 14px;
    color: grey;
}

main .mid .right .transfers .area .boxes button{
    width: 60px;
    height: 26px;
    border-radius: 10px;
    border: none;
}

main .bottom{
    display: flex;
    justify-content: space-around;
}

main .bottom .in,
main .bottom .out,
main .bottom .interest{
    text-transform: uppercase;
    color: grey;
    font-weight: bold;
}

main .bottom .value_in{
    color: green;
    font-size: 24px;
    margin-left: 5px;
}

main .bottom .value_out{
    color: red;
    font-size: 24px;
    margin-left: 5px;
}

main .bottom .value_interest{
    color: green;
    font-size: 24px;
    margin-left: 5px;
}

main .bottom .sort{
    margin-right: 190px;
    width: 50px;
    border: none;
    box-shadow: 0 0 5px grey;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 12px;
    color: grey;
}